<div class='row'>
    <div class='col-md-6'>
        <form role='form' novalidate>
            <div class='form-group'>
                <label for='user'>User</label>
                <input class='form-control'
                       name='user'
                       id='user'
                       type='text'
                       ng-model='user.name'>
            </div>
            <div class='form-group'>
                <label for='password'>Password</label>
                <input class='form-control'
                       name='password'
                       id='password'
                       type='password'
                       ng-model='user.password'>
            </div>
            <div class='form-group'>
                <button class='btn btn-default form-control' ng-click='authenticate(user)'>Login!</button>
            </div>
        </form>
    </div>
</div>